---
import Main from "@/layouts/Main.astro";
import QuestionFeed from "@/components/QuestionFeed.astro";
import { getPublishedQuestions } from "@/lib/questions";

const published = getPublishedQuestions();
---

<Main title="abolition.ing - Questions & Answers">
  <QuestionFeed title="Questions & Answers" questions={published} />
</Main>
