---
import Main from "@/layouts/Main.astro";
import resources from "@/data/resources.json";
---

<Main title="Resources – abolition.ing">
  <h1>Resources</h1>
  <ul>
    {resources.map((r) => (
      <li><a href={r.url} target="_blank">{r.title}</a></li>
    ))}
  </ul>
</Main>
