---
const { questions } = Astro.props;
---
<ul class="question-list">
  {questions.map((q) => (
    <li>
      <a class="question-card card-panel" href={`/questions/${q.slug}`}>
        <span class="question-title">{q.title}</span>
      </a>
    </li>
  ))}
</ul>
